TestSoap/WebContent/wsdl/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getNum2">
    <complexType/>
   </element>
   <element name="getNum2Response">
    <complexType>
     <sequence>
      <element name="getNum2Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNum1">
    <complexType/>
   </element>
   <element name="getNum1Response">
    <complexType>
     <sequence>
      <element name="getNum1Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNum1">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNum1Response">
    <complexType/>
   </element>
   <element name="hello">
    <complexType/>
   </element>
   <element name="helloResponse">
    <complexType>
     <sequence>
      <element name="helloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNum2">
    <complexType>
     <sequence>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNum2Response">
    <complexType/>
   </element>
   <element name="sumar">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumarResponse">
    <complexType>
     <sequence>
      <element name="sumarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="helloResponse">

      <wsdl:part element="impl:helloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarResponse">

      <wsdl:part element="impl:sumarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNum1Request">

      <wsdl:part element="impl:setNum1" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloRequest">

      <wsdl:part element="impl:hello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNum2Request">

      <wsdl:part element="impl:setNum2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNum2Response">

      <wsdl:part element="impl:setNum2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNum2Response">

      <wsdl:part element="impl:getNum2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarRequest">

      <wsdl:part element="impl:sumar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNum1Request">

      <wsdl:part element="impl:getNum1" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNum1Response">

      <wsdl:part element="impl:getNum1Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNum2Request">

      <wsdl:part element="impl:getNum2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNum1Response">

      <wsdl:part element="impl:setNum1Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculadora">

      <wsdl:operation name="getNum2">

         <wsdl:input message="impl:getNum2Request" name="getNum2Request">

       </wsdl:input>

         <wsdl:output message="impl:getNum2Response" name="getNum2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNum1">

         <wsdl:input message="impl:getNum1Request" name="getNum1Request">

       </wsdl:input>

         <wsdl:output message="impl:getNum1Response" name="getNum1Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNum1">

         <wsdl:input message="impl:setNum1Request" name="setNum1Request">

       </wsdl:input>

         <wsdl:output message="impl:setNum1Response" name="setNum1Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hello">

         <wsdl:input message="impl:helloRequest" name="helloRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloResponse" name="helloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNum2">

         <wsdl:input message="impl:setNum2Request" name="setNum2Request">

       </wsdl:input>

         <wsdl:output message="impl:setNum2Response" name="setNum2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sumar">

         <wsdl:input message="impl:sumarRequest" name="sumarRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumarResponse" name="sumarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculadoraSoapBinding" type="impl:Calculadora">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNum2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNum2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNum2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNum1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNum1Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNum1Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNum1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNum1Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNum1Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNum2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNum2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNum2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sumar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculadoraService">

      <wsdl:port binding="impl:CalculadoraSoapBinding" name="Calculadora">

         <wsdlsoap:address location="http://localhost:8080/TestSoap/services/Calculadora"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
